# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# YOLO / training outputs
runs/
*.pt
*.onnx

# Project outputs
outputs/
predictions/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log